https://github.com/opencivicdata/python-legistar-scraper/archive/refs/heads/event_fixes.zip
https://github.com/opencivicdata/pupa/archive/refs/heads/portable.zip
https://github.com/opencivicdata/python-opencivicdata/archive/refs/heads/no_geo.zip
